{% extends "@skeleton-package-crud/content.twig" %}

{% set object_name = 'Purchase Order'|trans %}

{% block page_edit %}
	{% include "@skeleton-package-stock/purchase_order/edit.twig" %}
{% endblock page_edit %}

{% block page_create %}
	{% include "@skeleton-package-stock/purchase_order/create.twig" %}
{% endblock page_create %}

{% block page %}
	{% include "@skeleton-package-stock/purchase_order/page.twig" %}
{% endblock page %}

{% block pager_filters %}
	<div class="form-group">
		<label class="control-label col-lg-2">{% trans "Search" %} </label>
		<div class="controls col-lg-10">
			<input type="text" class="form-control" name="search" value="{{ pager.get_search() }}"/>
		</div>
	</div>

	{% set conditions = pager.get_conditions() %}

	<div class="form-group">
		<label class="col-xs-2 control-label">{% trans "Delivered" %}</label>
		<div class="col-xs-10">
			<select name="delivered" class="form-control">
				<option value="0" {% if conditions['purchase_order.delivered'][0][1] == 0 %}selected{% endif %}>{% trans "No" %}</option>
				<option value="1" {% if conditions['purchase_order.delivered'][0][1] == 1 %}selected{% endif %}>{% trans "Yes" %}</option>
				<option value="-1" {% if conditions['purchase_order.delivered']is not defined %}selected{% endif %}>{% trans "Any" %}</option>
			</select>
		</div>
	</div>

{% endblock pager_filters %}

{% block pager_table_head %}
	<th>{{ pager.create_header('id', 'Id'|trans)|raw }}</th>
	<th>{{ pager.create_header('created', 'Created'|trans)|raw }}</th>
	<th>{{ pager.create_header('supplier', 'Supplier'|trans)|raw }}</th>
	<th>{{ pager.create_header('delivered', 'Delivered'|trans)|raw }}</th>
{% endblock pager_table_head %}

{% block pager_table_row %}
	<td>{{ object.id }}</td>
	<td>{{ object.created|date }}</td>
	<td>{{ object.get_supplier().company }}</td>
	<td>
		{% if object.delivered %}
			<span class="label label-success">{% trans "Yes" %}</span>
		{% else %}
			<span class="label label-danger">{% trans "No" %}</span>
		{% endif %}
	</td>
{% endblock pager_table_row %}
